* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: sans-serif;
}

:link, :visited {
    text-decoration: inherit;
    color: inherit;
}

.header {
    background-color: #ff5722 ;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.top-menu {

}

.top-menu a {
    display: inline-block;
    padding: 20px;
    color: white;
    transition: all .3s;
}

.top-menu a:hover {
    background-color: #fff;
    color: #ff5722;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    /*transition: all .3s ease;*/
    cursor: pointer;
}

.sidebar a:not(.active) {
    background: linear-gradient(to right, #f44d1c 50%, #eee 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.sidebar a.active {
    background-color: #ff5722 ;
    color: white;
    transition: all .4s;
    background: linear-gradient(to right, #f44d1c 50%, #ff5722 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.sidebar .active:hover {
    padding-left: 36px;
    background-position: left bottom;
}

.sidebar a:hover:not(.active) {
    background-position: left bottom;
    color: white;
    padding-left: 36px;
}

div.content {
    margin-left: 200px;
    padding: 0;
}

@media screen and (max-width: 770px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;padding-left: 0;}
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: auto !important;
}

#sidebar-closeBtn {
    background: rgba(255,0,0,0.57); width: auto;margin-bottom: 5px;display: none;
}

@media screen and (max-width: 296px) {
    #footer-sep {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        display: none;
        transition: .4s;
        z-index: 1;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 200px;
        animation: sidebar-in .4s;
        background-color: #f1f1f1;
        height: 100%;
        overflow: auto;
    }

    #sidebar-closeBtn {
        display: block;
    }

    @keyframes sidebar-in {
        from{
            left:-300px;
            opacity:0
        }
        to{
            left:0;
            opacity:1
        }
    }

    #content {
        transition: margin-left .4s;
        margin-left: 0;
    }

    #isLogin {
        display: block;
        text-align: right;
    }

    .hamburger-menu {
        display: block;
    }

    .sidebar a {
        display: block;
        width: 100%;
        color: black;
        padding: 16px;
        text-decoration: none;
        /*transition: all .3s ease;*/
        cursor: pointer;
    }

}

.btn {
    border: solid 1px #ff5722;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    background-color: #ff5722cc;
    color: #fff;
    transition: background-color .3s;
}

.btn:hover {
    background-color: #ff5722;
}

/* Modal css */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff9c5e;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ff5722;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ff5722;
    color: white;
}

#login-content, #register-content {
    display: none;
    margin: 16px auto 16px auto;
    width: 60%;
}

/* form styles */

input[type="text"], input[type="email"], input[type="password"] {
    padding: 12px;
    width: 100%;
    border: solid 2px #ddd;
    outline: none;
    transition: all .3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #ff5722;
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.37);
}

label {
    display: block;
    margin: 16px 0 16px 0;
}

/* homepage post */

.content-header {
    position: relative;
    background-color: #ddd;
    padding: 15px;
}

#content-header-title {
    text-align: center;
    margin-bottom: 11px;
}

#content-header-subtitle {
    text-align: center;
    margin-bottom: 11px;
    margin-top: 11px;
}

.content-header label {
    margin-top: 11px;
    text-align: center;
    position: relative;
}

.content-header label input[type="email"], .content-header label input[type="text"] {
    width: 30%;
    border-radius: 5px;
    outline: none;
    transition: all .3s;
}

.content-header label input[type="button"] {
    width: 10%;
    border-radius: 5px;
    min-width: 94.09px;
}

@media screen and (max-width: 770px) {
    .content-header label input[type="email"], .content-header label input[type="text"] {
        width: 50%;
    }

    .content-header label input[type="button"] {
        width: 30%;
    }
}


@media screen and (max-width: 400px) {
    .content-header label {
        position: relative;
    }
    .content-header label input[type="email"], .content-header label input[type="text"] {
        width: 90%;
        padding: 17px;

    }

    .content-header label input[type="button"] {
        width: 30%;
        position: absolute;
        right: 20px;
        top: 6px;
    }
}

.container {

}

.post-wrapper {
    display: block;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
}

.post-img {
    height: 100px;
    width: 15%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    min-width: 100.34px;
}

.post-wrapper h3 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.post-wrapper h3:hover {
    text-decoration: underline;
}

.post-wrapper span:not(#read-more) {
    font-size: 11px;
    color: gray;
}

.post-wrapper p {
    margin-top: 5px;
    color: #606060;
}

#read-more {
    font-size: 14px;
    color: #ff5722;
    cursor: pointer;
}

#read-more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .post-img {
        display: none;
    }

    #myModal .post-img {
        display: block;
        width: 100%;
    }

    .post-wrapper h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .post-wrapper span:not(#read-more) {
        font-size: 20px;
        margin-bottom: 10px;
        display: block;
    }

    .content-header {
        /*background: linear-gradient(to right, #ff5722, yellow);*/
        background: #ff5722;
        color: white;
    }
}

#site-footer {
    background-color: #ff5722;
    padding: 20px;
    margin-top: 50px;
    color: #efefef;
    overflow: hidden;
    position: relative;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
    font-size: 2rem;
}

#footer-right h1 {
    display: inline-block;
    font-size: 2rem;
}

#footer-right h1:hover {
    text-decoration: underline;
}

@media screen and (max-width: 592px) {
    #footer-left {
        float: none;
        display: block;
        text-align: center;
    }

    #site-footer {
        overflow: unset;
    }

    #footer-right {
        float: none;
        display: block;
        text-align: center;
    }
}

#sidebar-shadow {
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: .4s;
    background: rgba(0,0,0,0.74);
}